html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  background: #ECE9E6;
  background: linear-gradient(to top, #ECE9E6 , #FFFFFF);
}

.wrapper {
  position: relative;
  max-width: 720px;
  margin: 50px auto 30px auto;
}
.header {
  position: relative;
}

.links {
  visibility: visible;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.no-js {
  .links {
    visibility: hidden;
  }
}

@media (max-width: 625px) {
  .links {
    display: block;
  }
}

@media (max-width: 750px) {
  .wrapper {
    margin: 30px;
  }
}
