.header--description {
  color: #111;
  line-height: 1.1;
  display: inline-block;
  margin-left: 6px;

  @media (max-width: 750px) {
    display: block;
    margin-top: 16px;
    margin-left: 0;
  }
}
