.header--description {
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.1;
  display: inline-block;
  margin-left: 6px;

  @media (max-width: 750px) {
    display: block;
    margin-top: 16px;
    margin-left: 0;
  }
}
