.links--icon {
  height: 1em;
  width: auto;
  margin-right: 6px;
  margin-top: 4px;
}

.links--icon-linkedin {
  margin-top: 0;
}

.links--link {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.01em;
  color: var(--color-muted);
  transition: color 0.2s ease;
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: var(--color-accent);
  }
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.links--primary .links--link {
  font-size: 23px;
}

.links--secondary .links--link {
  font-size: 18px;
}

@media (max-width: 625px) {
  .links--link {
    padding: 12px 0;
  }
}
