.header--sub-description {
  visibility: visible;
  color: var(--color-accent);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.02em;
  align-self: flex-end;
  padding: 8px 28px 24px 0;

  canvas {
    width: 34px;
    height: 34px;
    vertical-align: -9px;
    margin-right: 2px;
  }
}

.no-js {
  .header--sub-description {
    visibility: hidden;
  }
}
