<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>{{ site.description }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,900" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">

    {% include ga.html %}
  </head>

  <body class="no-js">
    <div class="wrapper">
      <h1 class="header">
        {% include components/avatar.html %}
        {% include components/description.html %}
        {% include components/sub-description.html %}
      </h1>
      <ul class="links">
        {% include components/link-github.html %}
        {% include components/link-email.html %}
        {% include components/link-twitter.html %}
        {% include components/link-discord.html %}
        {% include components/link-huggingface.html %}
      </ul>
    </div>

    <script async="true" src="/assets/bundle.js"></script>
  </body>

</html>
